body {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

#info {
    display: none;
}

#right-or-wrong {
    display: none;
}

#quiz {
    display: none;
}

#next {
    display: none;
    cursor: pointer;
}
